# dependencies
node_modules
.pnp
.pnp.js

# build outputs
dist
build
out
.turbo

# expo / react native
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# editors / os
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln

# testing
coverage
